In [2]:
a=3+5\
*5
print(a)

28

In [42]:
a=3.1
b=str(a)
print(type(a))
print(type(b))
c=str(12)
##字符串的
print('shitianyaa'*3,c*6)
"ab"+"cd"

<class 'float'>
<class 'str'>
shitianyaashitianyaashitianyaa 121212121212

'abcd'

In [14]:
price=99.99
print(type(price))
message="Python is fun!"
print(message)

<class 'float'>
Python is fun!

In [18]:
len('aaaaa')

5

In [24]:
'学号为{1} 对应的学生姓名为{0}'.format('田鑫硕','42427008')

'学号为42427008 对应的学生姓名为田鑫硕'

In [40]:
-7%3
-7//3

-3

In [68]:
ord('b'),ord('a')

(98, 97)

In [78]:
chr(48),chr(49)

('0', '1')

In [84]:
a=1
a+=3
print(a)

4

In [86]:
name,age='shitianyaa','13'
print(name,age)

shitianyaa 13

In [6]:
print(True and False) ##全为真为真 0+0=0
print(True or  False) ## 0*a=0
print(not True)
print('ab' in'abc')
print('ba' in 'ab')
a=38
b=38.0
print(a is b,type(a),type(b),end="!")

False
True
False
True
False
False <class 'int'> <class 'float'>!

In [116]:
a = input('人生海海，山山而川：')
print(a)
age = input('请输入年龄：')
print(type(age))
b=int(age)
print(type(b))

人生海海，山山而川： 123

123

请输入年龄： 18

<class 'str'>
<class 'int'>

In [122]:
result=15*2+30/5
print(result)

36.0

In [4]:
a=3  ##上底
b=5  ##下底
c=4  ##高
s=(a+b)*c/2  ##面积
print(s)

16.0

In [10]:
C = float(input('请输入需要转换的摄氏温度：'))
F = C*9/5+32
print('华氏温度为：{}'.format(F))

请输入需要转换的摄氏温度： 37.5

华氏温度为：99.5

In [4]:
a=1+2*2  ##先算乘法
print(a)

5

In [12]:
print(5+2==7)
print('a'=='b')

True
False